.editor {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;
}

.editor-tabs {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    order: 1;

    font: 16px 'Cantarell';

    width: 100%;
    max-height: 32px;

    z-index: 10;
}

.editor-tab {
    display: flex;
    align-items: center;

    min-width: 32px;
    padding: 8px;

    cursor: default;
}

.editor-tab-label {
    display: inline-block;
    order: 1;

    margin-right: 8px;
}

.editor-tab-close {
    display: inline-block;
    position: relative;
    order: 2;

    height: 16px;
    width: 16px;

    background: none;
}
.editor-tab-close::before,
.editor-tab-close::after {
    content: '';
    position: absolute;
    background-color: #878aa5;
    width: 12px;
    height: 1px;
    top: 7px;
}
.editor-tab-close::before {
    left: 2px;
    transform: rotate(45deg);
}
.editor-tab-close::after {
    right: 2px;
    transform: rotate(-45deg);
}

.editor-content-wrapper {
    flex: 1;
    order: 2;

    z-index: 9;

    position: relative;

    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.editor-line-numbers {
    flex: 1;
    order: 1;

    font: 16px 'Fira Code';

    text-align: right;

    min-width: 48px;
    max-width: 48px;

    z-index: 5;
}

.editor-line-number {
    padding-right: 12px;
}

.editor-content {
    flex: 1;
    order: 2;

    position: absolute;
    font: 16px 'Fira Code', monospace;

    cursor: text;

    width: 100%;
    height: 100%;

    z-index: 4;
}
.editor-content:focus {
    outline: none;
}

.editor-line {
    white-space: pre;
}

.editor-cursor {
    position: absolute;
}
