.editor {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;
}

.editor-tabs {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    order: 1;

    font: 16px 'Cantarell';

    max-height: 32px;
}

.editor-tab {
    min-width: 32px;
    padding: 8px;

    cursor: default;
}

.editor-content-wrapper {
    flex: 1;
    order: 2;

    border-top: 1px solid black;

    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.editor-line-numbers {
    flex: 1;
    order: 1;

    font: 16px 'Fira Code';

    text-align: right;

    min-width: 48px;
    max-width: 48px;
}

.editor-line-number {
    padding-right: 12px;
}

.editor-content {
    flex: 1;
    order: 2;

    position: relative;
    font: 16px 'Fira Code', monospace;

    cursor: text;

    width: 100%;
    height: 100%;
}
.editor-content:focus {
    outline: none;
}

.editor-line {
    white-space: pre;
}

.editor-cursor {
    position: absolute;
}
